* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	background-image: url('https://img.freepik.com/free-vector/blue-cyber-future-technology-concept-background_42077-488.jpg?size=626&ext=jpg'); 	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
}

html {
	scroll-behavior: smooth;
}

header{
	background-color:#081530;
	position: fixed;
	width:100%;
	height:50px;
    display:flex;  
    align-items: center; 
    padding-left: 2%;
    padding-right: 2%;
}



header a{
	color:white;
	font-size:120%;
	padding:2%;
}


#landing{
	padding-top:50px;
	background-image: linear-gradient(to bottom, rgba(237, 243, 245, 0.52), rgba(120, 149, 158, 0.52)); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	height:100vh;
	display: flex;
	justify-content:center;
	}		


#landing img{
	width:90%;
	border-radius:10%;
	margin:5%;
}

#landing a{
	padding-top:2%;
	padding-bottom:2%;
	padding-left:7%;
	padding-right:7%;
	border-radius: 25px;
	background-color: white;
	text-align: center;
	font-size:150%;
	color:#081530;
}


#landing p{
	font-size:200%;
	color:white;	
}


#portfolio{
	padding-top:50px;
	padding-bottom:25px;
	padding-right:25px;
	padding-left:25px;
	display:flex;
	align-items: center;
	justify-content: center;

}


#portfolio p{
	font-size:150%;
	background-color: black;
	color: white;
	padding-left:1vw;
}

#contact{
	background-color: #e9ecef;
	padding-top:50px;
	padding-bottom:25px;
	padding-right:25px;
	padding-left:25px;

}

#contact button{
	padding-top:1%;
	padding-bottom:1%;
	padding-left:3%;
	padding-right:3%;
	border-radius: 10px;
	background-color: white;
	font-size:100%;
	color:#081530;
	display:flex;
	align-items: center;
	justify-content: center;
}


@media only screen and (max-width: 600px){
	header{
    justify-content:center;
	}

	#landing p{
	font-size:150%;	

}